.nav-default {
    position: fixed;
    background-color: #4a4a4f;
    left: 0;
    right: 0;
    top: 0;
}

.nav-default button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #999;
    color: #fff;
    border: none;
}

.dropdown {
    width: 150px;
    position: relative;
}

.dropdown:hover .dropdown-menu {
    transform: translateY(0);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}

.dropdown:hover button {
    background-color:#018ec5;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: -1;
    width: 150px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
}

.dropdown-link {
    text-decoration: none;
    color: #4a4a4f;
    background-color: #f9f9f9;
    display: block;
    padding: 10px 5px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

.dropdown-link:hover {
    color: #fff;
    background-color: #a0a0a3;
}